body{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    text-align: center; margin-top: 10px;
}
.form{
	width: 400px;
	height: 500px;
	background: #ECEFF4;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    padding: 10px;
    border-radius: 20px;
} 
input{ 
	padding: 10px;
}
.user{
	width: 365px;
	height: 50px;
	margin: auto;
	border:2px solid #EDF0F5;
	margin-bottom: 15px;
}
.login1{
	width: 365px;
	height: 50px;
	margin: auto;
	border: none;
	margin-bottom: 5px;
	font-size: 15px;
	background: #1877F2;
	color: #fff
}
.login2{
	width: 365px;
	height: 50px;
	margin: auto;
	border: none;
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: 750;
	background: green;
	color: #fff
}